
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 1.4; 
      height: auto;
  }
 
.wrapper {
    max-width: 1520px;
    /* height:6000px;   */
    margin: 0 auto;
    position: relative;     
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    max-width: 1200px;
    margin: 0 auto;    
}

ul {
    padding: 50px 0;
    margin: 0 auto 30px;
    list-style: none;
    width: 750px;
    display: flex;
    justify-content: space-between;
}
ul li {
    padding-bottom: 2px; 
    color: white;
    border-bottom: 1px solid #00d6d9;
}
.ilon__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 280px;
}
.ilon__info
 {    padding-top: 60px;
}

.ilon__image {
    width: 955px;
    height: 725px;
    background-image: url(images/book.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
h2 {
    margin: 0 0 23px 0;
    font-size: 40px;
}
h3 {
    margin-top: 0;
    font-size: 36px;
}
.ilon p {
    margin-bottom: 125px;
    margin-top: 0;
}
.order {
    margin-bottom: 35px;
    font-size: 24px;
}
.btn {
    width: 316px;
    height: 77px;
    padding-top: 25px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;  
    box-shadow: inset 0px 0px 27px 1.45px rgba(0, 0, 0, 0.5);
    background-color: #006b6e;
}
.btn:hover,
.btn:active {
    background-color: #00d3d5;
    box-shadow: 0px 0px 27px 1.45px #fff;
}
.scientific-discoveries__inner {
    display: flex;
    flex-wrap: wrap;  
}
.scientific-discoveries__item {
    width: 50%;
    position: relative;
    margin-bottom: 80px;
}
.scientific-discoveries__item::before {
    content: url(images/poin_t1.png);
    position: absolute;
    left: -60px;
    top: 0;
}
.scientific-discoveries__proven{
    width: 100%;
    margin-bottom: 755px;
    display: flex;
    justify-content:flex-end;
    
    }
.scientific-discoveries__proven-inner::after {
    content: 'DNA';
    font-size: 12px;
    text-transform: uppercase;
    color: #636869;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.scientific-discoveries__proven-inner {
    width: 59.5%;
    padding: 20px 65px;
    position: relative;
    border: 1px solid #636869;
    border-right: none;
    z-index: 1;
   
}
.img {
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left: -20px;
    top: 65px;
    z-index: 5;
    background-color: #102023;
}
.poin {
    position: absolute;
    transform: rotate(90deg);
    top: 46px;
    left: -40px;
    z-index: 6;
} 

.proven-info p {
    margin: 0;
}
.mars {
    width: 100%;
    height: 500px;
    margin-bottom: 380px;
}
.mars__container {
    position: relative;
}
.mars__tour {
    border: 1px solid #636869;
    width: 40%;
    height: 500px;
    position: absolute;
    top: -30px;
}
.mars__tour::after{
    content: 'mars-tour';
    font-size: 12px;
    text-transform: uppercase;
    color: #636869;
    position: absolute;
    top: -20px;
    right: 0;
}

.mars__info {
    /* margin-left: 200px; */
    position: absolute;
    width: 712px;
    z-index: 5;
    left: 15%;
}
.mars__info p{
    width: 540px;
}
.bitcoin {
    height: 730px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 400px; 
   
}
.bitcoin h1{
    margin-bottom: 55px;
    width: 100px;
}
.bitcoin__inner {
   width: 50%;
   height: 100%;
   padding: 180px 160px 190px 60px;
}
.actions h1 {
    margin-bottom: 50px;
}
.actions {
  
    margin-bottom: 75px;
}
.actions__inner {
    
    display: flex;
    justify-content: space-between;
}
.actions p{
    width: 450px;
}
footer {
    padding-bottom: 115px;
}
.decor-border {
    width: 90%;
    height: 270px;
    margin-left: 20px;
    border: 1px solid #636869;
    padding-top: 20px;
    position: relative;
    
  }
.qr-code {
    position: absolute;
     left: 20px;
     top: 110px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #00d6d9;
    background-color: black;
    margin-right: 110px;
}
.qr-code img {
    width: 90%;
    margin: 10px;
}

.decor-border__info {     
    margin-left: 260px;
   
}
#popup {    
        visibility: hidden;
        height: 700px;
        width: 570px;
        border-width: 0;
        position: fixed;
        top:0;
        left: 30%;
        z-index: 10;
    }

 iframe {    
    height: 700px;
    width: 570px;    
    border-width: 0;
} 

#popup:target {
    visibility: visible;
    
}
.close {
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 30px;
}
.menu-btn {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
}
.menu-btn span {
    display: block;
    width: 40px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}


/******adaptive******/
@media(max-width: 1150px) {
    .scientific-discoveries {
        padding-left: 70px;
    }
    .ilon,
    .actions {
        padding-left: 20px;
    }
    .bitcoin__inner {
        padding: 90px 60px 10px;
    }
}

@media(max-width: 960px) {
    .scientific-discoveries__inner {
    
        flex-direction: column;
    }
    .scientific-discoveries__item {
        width: 100%;
    }
    
    .bitcoin__inner {
        padding: 50px 60px 10px 20px;
        width: 60%;
    }

    .scientific-discoveries__proven-inner {
        padding: 20px 20px 20px 50px;
    }
    .ilon__image {
        width: 750px;
        height: 450px;
    }
    #popup{
        left: 15%;
    }
    #popup.form {
        min-width: 360px !important;
    }
    footer h1 {
        font-size: 44px;
    }
    .btn {
        bottom: -34px;
    }
}

@media(max-width: 870px) {
    .ilon__inner {
        margin-bottom: 160px;
    }
    .scientific-discoveries__item {
        margin-bottom: 50px;
    }
    .mars__info{
        width: 70%;
    }
    h1 {
        font-size: 40px;
    }

    footer h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    .btn {
        height: 60px;
        padding-top: 16px;
    }
    .bitcoin {
        margin-bottom: 290px;
    }
    ul {
        padding: 30px 20px;
    }
}


@media(max-width: 769px) {
   
    .bitcoin {
        margin-bottom: 190px;
    }
    .bitcoin__inner {
        width: 65%;
    }
    ul {
        justify-content: flex-end;
        width: 100%;
    }
    ul li {
        margin-right: 30px;
    }
    .btn {
        width: 250px;
        bottom: -30px;
        right: 40px;
        font-size: 18px;
    }
}
@media(max-width: 672px) {
    .ilon__image {
        height: 376px;
        background-size: 149%;
        margin-top: 30px;
    }
    .mars__info p {
        width: 100%;
    }
    .bitcoin {
        margin-bottom: 265px;
    }
    .btn {
        width: 250px;
        bottom: -30px;
        right: 40px;
        font-size: 18px;
    }
    #popup {
        left: 6%;        
    }
}
@media(max-width: 590px) {
    .menu-btn {
        display: block;
    }
    ul {
        display: none;
        text-align: center;
        font-size: 14px;
        position: absolute;
        top: 70px;
        background-color: #102023;
        height: 100%;
    }
    ul li {
        padding: 10px;
    }
    /*ul {
        transform: translateX(-110%);
    }
    .active ul {
        transform: translateX(110%);
    } */
    .ilon__inner {
        flex-direction: column-reverse;
    }
    .ilon__image {
        width: 85%;
        height: 460px;
        margin-top: 80px;
    }
    .ilon__info{
        padding-top: 0;
    }
    .ilon p {
        margin-bottom: 75px;
    }
    .btn {
        position: static;
        margin: 0 auto;
    }
    .decor-border {
        height: auto;
        text-align: center;
        padding: 10px;
        
    }
    .decor-border__info {
        margin-left: 0px;
     
    }
    .btn {
        margin: 0 60px 30px;
    }
    .qr-code {
        position: static;
        margin: 0 auto;       
    }
    .mars__info {
        width: 85%;
    }
    .bitcoin__inner {
        width: 80%;
        padding: 115px 39px 10px 30px;
    }
    .bitcoin h1 {
        margin-bottom: 20px;
    }
    #popup{
        left: 5%;
        width: 360px;
    }
    form {
        width: 360px !important;
        min-width: none !important; 
    }
    .rc-anchor-normal {
        width: 285px;
    }
    iframe {
        width: 360px;
    }
    div.input-wrap {
        width: 300px;
    }
    header > h1, p {
        margin: 0 0 20px 0;
        width: 300px;
    }
}

@media(max-width: 420px) { 
    
    #popup{
      
    }
    form {
        width: 360px !important;
        min-width: none !important; 
    }
    .rc-anchor-normal {
        width: 285px;
    }
    iframe {
        width: 360px;
    }
    div.input-wrap {
        width: 300px;
    }

    .proven-info {
        width: 200px;
    }
    .scientific-discoveries__proven-inner {
        width: 100%;
    }
    .bitcoin__inner {
        width: 90%;
    }
    .actions p {
        width: 320px;
    }
    .btn {
        margin: 0 10px 30px;
    }
    .ilon__info{
        padding-left: 10px;
     }
     .qr-code {
         position: absolute;
         left: 70px;
         top: 330px;
     }
     .wrapper {
         height: 5550px;
     }
}